
<% if bid.id.blank? %>
<%else%>


<p>
  -----------------------

<p>
  <b>User:</b>
  <%= bid.user.name %>
</p>

<p>
  <b>Number:</b>
  <%= bid.number %>
</p>


<p>
  -----------------------

<p>
<%end%>

